@model RentCar3ASP.Models.IndexViewModel

@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Mot de passe :</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
            @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
            @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
        <dt>Profil Edit ( @Session["iduser"] ): </dt>
        <dd>
            [ @Html.ActionLink("Manage Account", "ManagerAccount", new { id = @Session["iduser"] }, null) ]
        </dd>
        @if (Roles.IsUserInRole("admin"))
        {
        <dd>
            [ @Html.ActionLink("Manage Role", "SetRoleToUser", null, null) ]
        </dd>

        }




    </dl>
</div>
